@mixin center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin form-minimal {
    *:focus {
        outline: none;
    }
    input[type="password"],
    input[type="username"] {
        background-color: inherit;
        padding: 10px;
        border: none;
        border-bottom: solid 1px #080000;
        position: relative;
        transition: border ease-in-out 0.3s;
        width: 100%;
    }
    input[type="password"]:focus,
    input[type="username"]:focus {
        border-bottom: solid 1.5px #e74c3c;
    }
}
.wrapper {
    background-color: #3a3042;
    height: 100vh;
    max-height: 100%;
}
.content {
    @include center;
    width: 540px;
    text-align: center;
    h1 {
        margin-bottom: 25px;
    }
    form {
        @include form-minimal;
        input {
            color: #fff;
        }
        input[type="password"] {
            margin-bottom: 15px;
        }
        input[type="submit"] {
            background-color: #8e44ad;
            border: none;
            border-radius: 23px;
            font-weight: 700;
            padding: 13px 35px;
            text-align: center;
        }
        input[type="submit"]:hover {
            background-color: #9b59b6;
            cursor: pointer;
        }
    }
}
