// variables
// #3A3042;
// #DDE9F8;
@mixin center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin form-minimal {
    *:focus {
        outline: none;
    }
    input[type="password"],
    input[type="username"] {
        background-color: inherit;
        padding: 10px;
        border: none;
        border-bottom: solid 1.5px #191919;
        position: relative;
        transition: border ease-in-out 0.3s;
        width: 100%;
    }
    input[type="password"]:focus,
    input[type="username"]:focus {
        border-bottom: solid 2px #e74c3c;
    }
}
.login {
    @include center;
    height: 100vh;
    background-color: #3a3042;
    .content {
        @include form-minimal;
        width: 450px;
        h1 {
            margin-bottom: 12px;
            text-align: center;
        }
        form.login {
            input {
                color: #fff;
            }
            input[type="password"] {
                margin-bottom: 35px;
            }
        }
        input[type="submit"] {
            background-color: #8e44ad;
            border: none;
            border-radius: 23px;
            font-weight: 700;
            margin-left: 165px;
            padding: 13px 35px;
            text-align: center;
            transition: 0.3s ease-in-out;
        }
        input[type="submit"]:hover {
            background-color: #9b59b6;
            cursor: pointer;
        }
    }
}
