doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block title
            title Default Title
        link(rel="stylesheet", href="stylesheets/min/app.css")
    body
        block content
