extends ./layouts/application
block title
    title Login
block content
    .wrapper
        .login
            .content
                h1 Welcome back
                form(action="/login", method="post")
                    input(type="username", name="username", placeholder="Email address", autofocus="true")
                    br
                    input(type="password", name="password", placeholder="Password here")
                    br
                    input(type="submit")
